@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins';
}

:root {
 --background-color: hwb(65 59% 2%);
 --switch-bg-url: url(../icons/moon.svg);
 --stroke-color: rgba(0, 0, 0, 0.5);
 --surface-color: rgba(0, 0, 0, 0.1);
 --highlight-color: rgba(0, 0, 0, 0.2);
 --header: url(../img/header.png);
 --foguete: url(../img/foguete.png);
 --text-h1: white;
 --footer: url(../img/footer.png);
}

.light {
 --background-color: #ffffff;
 --header: url(../img/header-light.png);
 --switch-bg-url: url(../icons/sun.svg);
 --stroke-color: black;
 --surface-color: #F3E3E3;
 --highlight-color: rgba(0, 0, 0, 0.1);
 --foguete: url(../img/foguete-light.png);
 --text-h1: rgb(255, 193, 38);
 --footer: url(../img/footer-light.png);
}

body {
 background-color: var(--background-color);
}

header {
 width: 10%;

}

.container-pz {
 margin: 0 auto;
 width: 90%;
}

.header {

 height: 20px;
 width: 25%;
 background-size: cover;

}

.logotipo {
 display: flex;
 height: 80px;
 width: 50px;
}

.sessao {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 height: 70vh;
}

.parte-1 {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 width: 820px;
 height: 480px;

}

.parte-1 h1 {
 font-size: 45px;
 text-transform: uppercase;
 font-weight: bold;
 color: var(--text-h1);
}

.parte-1>p {
 color: var(--text-h1);
 font-weight: lighter;
 font-size: 18px;
 font-weight: bold;
 margin-top: -40px;
}

.cronometro {
 display: flex;
 gap: 60px;
}

.text {
 font-weight: 400;
 font-size: 72px;
 margin-top: 11px;

}

.countdown-el {
 text-align: center;
}

.countdown-el p {
 color: var(--text-h1);
}

.countdown-el span {
 color: #000000;
 font-size: 18px;
}

.social-media {
 display: flex;
 gap: 20px;

}

.social-media img {
 cursor: pointer;
 width: 40px;
 height: 40px;
}

@media screen and (max-width:1200px) {
 .parte-1 {
  width: 620px;
 }

 .parte-2 {
  background: var(--foguete) no-repeat;
  width: 450px;
  height: 390px;
  background-size: contain;
  transform: rotate(-10deg);
  transition: 0.4s;
  cursor: pointer;
 }
}

@media screen and (max-width:1100px) {
 .parte-1 {
  width: 420px;
 }

}

@media screen and (max-width:700px) {
 .header {
  display: none;
 }

 .parte-2 {
  display: none;
 }
}

@media screen and (max-width:500px) {
 .parte-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 380px;
 }

 .parte-1 h1 {
  font-size: 26px;
 }

 .parte-1>p {
  font-size: 16px;
  text-align: center;

 }

 .cronometro {
  display: flex;
  gap: 20px;
 }

 .text {
  font-weight: 400;
  font-size: 42px;
  margin-top: 11px;

 }

}